body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: rgb(7, 14, 31);
  margin-top: 0px;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row;
  list-style-type: none;
}

.navbarLinks {
  color: rgb(209, 212, 212);
  text-decoration: none;
  font-size: 2rem;
}

.navbarTitle {
  margin-top: 0px;
  font-size: 1.8em;
  background-color: rgb(7, 14, 31);
  color: white;
  border: none;
  cursor: pointer;
  list-style-type: none;
  display: flex;
}

.aboutMe {
  font-size: 2rem;
  margin-left: 10%;
}

.aboutMeTitle {
  margin-left: 10%;
}

.resumePage {
  margin-left: 10%;
  margin-right: 10%;
}

/* .formatNav {
  display: flex;
  flex-direction: row;
} */

/* .link {
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  margin-right: 100px;
} */

/* .linkLi {
  display: flex;
  justify-content: space-evenly;
} */

.footer {
  background-color: rgb(7, 14, 31);
  margin-bottom: 0px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.8em;
  margin-top: 6%;
}

.footer a {
  color: white;
  font-size: 1em;
  text-decoration: none;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 4%;
  margin-right: 4%;
}

.col {
  flex: 1;
  width: 16em;
  height: 12em;
  background-color: rgb(209, 212, 212);
  background-image: url('https://i.imgur.com/kee2AWK.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 7%;
  margin-bottom: 1%;
  border: 1px solid black;
}

.col1 {
  flex: 1;
  width: 16em;
  height: 12em;
  background-color: rgb(209, 212, 212);
  background-image: url('https://i.imgur.com/f6a7DNn.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  margin-bottom: 1%;
  margin-top: 7%;
  border: 1px solid black;
}

.col2 {
  flex: 1;
  width: 16em;
  height: 12em;
  background-color: rgb(209, 212, 212);
  background-image: url('https://i.imgur.com/HTK1gSW.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  margin-bottom: 1%;
  margin-top: 7%;
  border: 1px solid black;
}

.col2row2 {
  flex: 1;
  width: 16em;
  height: 12em;
  background-color: rgb(209, 212, 212);
  background-image: url('https://i.imgur.com/JVJm8Av.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  margin-bottom: 1%;
  margin-top: 7%;
  border: 1px solid black;
}

.col3 {
  flex: 1;
  width: 16em;
  height: 12em;
  background-color: rgb(209, 212, 212);
  background-image: url('https://i.imgur.com/BDPfj85.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  margin-bottom: 1%;
  margin-top: 7%;
  border: 1px solid black;
}

.flex-grid.col {
  width: 32%;
}

.flex-grid {
  margin-top: 40px;
  flex-wrap: wrap;
}

h1 {
  font-size: 5em;
}

h3 {
  font-size: 2em;
}

.title {
  background-color: rgb(209, 212, 212);
  margin-right: 5%;
  margin-left: 5%;
  padding-bottom: 1.5%;
  color: rgb(7, 14, 31);
  padding-left: 2%;
}

.leftSide {
  margin-left: 1%;
  /* width: 32%; */
}

.rightSide {
  margin-right: 1%;
}

#topRow {
  margin-top: 2%;
}

/* .aTag {
  margin-bottom: 10%;
} */

.tileTitle {
  margin-top: 10%;
}

.tileTitle1 {
  margin-bottom: 5%;
}

