@media screen and (max-width: 1295px) {
    .navbar {
        background-color: crimson;
    }

    /* .flex-grid.col {
        width: 48%;
    }
    .flex-grid.leftSide {
        width: 48%;
    }
    .flex-grid.rightSide {
        width: 48%;
    }
    .flex-grid.center {
        width: 48%;
    }  */

    .col1 {
        width: 23em;
        height: 17em;
    }

    .col2 {
        width: 23em; 
        height: 17em;
    }

    .col2row2 {
        width: 23em; 
        height: 17em;
    }

    .col {
        width: 23em; 
        height: 17em;
    }

    .col3 {
        width: 23em; 
        height: 17em;
    }
}

@media screen and (max-width: 1240px) {
    .col1 {
        width: 19em;
        height: 14em;
    }

    .col2 {
        width: 19em; 
        height: 14em;
    }

    .col2row2 {
        width: 19em; 
        height: 14em;
    }

    .col {
        width: 19em; 
        height: 14em;
    }

    .col3 {
        width: 19em; 
        height: 14em;
    }
}

@media screen and (max-width: 1030px) {
    .navbar {
        background-color: rgb(220, 183, 20);
    }

    .flex-grid {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col1 {
        width: 38em;
        height: 29em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col2 {
        width: 38em; 
        height: 29em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col2row2 {
        width: 38em; 
        height: 29em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col {
        width: 38em; 
        height: 29em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col3 {
        width: 38em; 
        height: 29em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 1020px) {
    .navbar {
        background-color: rgb(43, 220, 20);
    }

    .col1 {
        width: 37.5em;
        height: 28em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col2 {
        width: 37.5em; 
        height: 28em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col2row2 {
        width: 37.5em; 
        height: 28em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col {
        width: 37.5em; 
        height: 28em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col3 {
        width: 37.5em; 
        height: 28em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 1020px) {
    .navbar {
        background-color: rgb(23, 20, 220);
    }

    .col1 {
        width: 37em;
        height: 27em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col2 {
        width: 37em; 
        height: 27em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col2row2 {
        width: 37em; 
        height: 27em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col {
        width: 37em; 
        height: 27em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col3 {
        width: 37em; 
        height: 27em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 1020px) {
    .navbar {
        background-color: rgb(203, 20, 220);
    }

    .col1 {
        width: 36em;
        height: 27em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col2 {
        width: 36em; 
        height: 27em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col2row2 {
        width: 36em; 
        height: 27em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col {
        width: 36em; 
        height: 27em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col3 {
        width: 36em; 
        height: 27em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 970px) {
    .navbar {
        background-color: rgb(20, 220, 193);
    }

    .col1 {
        width: 30em;
        height: 23em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col2 {
        width: 30em; 
        height: 23em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col2row2 {
        width: 30em; 
        height: 23em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col {
        width: 30em; 
        height: 23em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col3 {
        width: 30em; 
        height: 23em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 820px) {
    .navbar {
        background-color: rgb(220, 20, 20);
    }

    .col1 {
        width: 27em;
        height: 20em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col2 {
        width: 27em; 
        height: 20em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col2row2 {
        width: 27em; 
        height: 20em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col {
        width: 27em; 
        height: 20em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col3 {
        width: 27em; 
        height: 20em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 4em;
    }

    h3 {
        font-size: 1.5em;
        margin-right: 1%;
    }
}

@media screen and (max-width: 730px) {
    .navbar {
        background-color: rgb(220, 150, 20);
    }

    .col1 {
        width: 24em;
        height: 18em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col2 {
        width: 24em; 
        height: 18em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col2row2 {
        width: 24em; 
        height: 18em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col {
        width: 24em; 
        height: 18em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col3 {
        width: 24em; 
        height: 18em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 650px) {
    .navbar {
        background-color: rgb(117, 220, 20);
    }

    h1 {
        font-size: 3em;
    }

    h3 {
        font-size: 1.2em;
    }

    .col1 {
        width: 21em;
        height: 16em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col2 {
        width: 21em; 
        height: 16em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col2row2 {
        width: 21em; 
        height: 16em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col {
        width: 21em; 
        height: 16em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col3 {
        width: 21em; 
        height: 16em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 580px) {
    .navbar {
        background-color: rgb(220, 20, 20);
    }

    .col1 {
        width: 16em;
        height: 12em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col2 {
        width: 16em; 
        height: 12em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col2row2 {
        width: 16em; 
        height: 12em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col {
        width: 16em; 
        height: 12em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col3 {
        width: 16em; 
        height: 12em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}